
body {
	background-image: linear-gradient(-90deg, #407FAA, #A3D6EC);
	display: flex;
  	justify-content: center;
	background-color: #34495e;
	padding: 0px;
	margin:0px;
	text-align: center;
    padding-top: 52px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
	margin: 0px 0px 0px -40px;
}

/*ul.navbar li a:hover:not(.active) {background-color: #111;}

ul.navbar li a.active {background-color: #4CAF50;}

ul.navbar li.right {float: right;}

@media screen and (max-width: 900px) {
    ul.navbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.navbar li a {
        float: left;
        padding: 15px;
    }
    div.UserListApp {margin-left: 0;}
}

@media screen and (max-width: 668px) {
    ul.sidenavbarnav li a {
        text-align: center;
        float: none;
    }*/


.heading12 {
	margin-bottom: 28px;
	margin-left: -24px;
	font-size: 13px;
	font-style: normal;
	font-family: Arial, serif;
	text-align: center;
    font-size: 30px;
    color: #fff;
	padding-left: 0px;
	/*margin-top: 100px;*/
}

.TableStyle {
    font-family:  Arial, serif;
    border-collapse: collapse;
	align-items: center;
    font-style: normal;
    width: 100px;
    color: #144AC6;
    font-size: 15px;
}

.tableheder1 {
    background-color: #417EA9;
    text-align: center;
	padding: 10px 20px 10px 10px;
    color: white;
}

.tableheder1, td {
    text-align: -webkit-center;
    padding: 8px 0px 13px 0px;
}

td {
    padding: 10px 64px 10px 10px;
    color: black;
}

tr:nth-child(even){
    background-color: #E7E7E7;
}

tr:nth-child(odd){
    background-color: #F5F5F5;
}

button {
	font-size: 13px;
	font-style: normal;
	font-family: Arial, serif;
	border: none;
	border: 0px solid #497A3C;
	box-shadow: 1px 2px 26px -7px;
	margin-left: 15px;
    margin-right: 10px;
	margin-bottom: 0px;
    padding: 10px 20px 11px 20px;
    background: #427534;
    color: white;
    border-radius: 5px;
    width: 185px;
    height: 40px;
}


