<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

	<link rel="stylesheet" type="text/css" href="log.css">

	<link rel="stylesheet" type="text/css" href="reg.css">

	<link rel="stylesheet" type="text/css" href="home.css">


</head>

<body>

	<STYLE>
		A {
			text-decoration: none;
		}

	</STYLE>

	<section>



		<div id="navegationBar">

			<div v-if="!(ishidden)" >

				<ul class="navbar" style="margin: -52px -150px -113px -150px;" >

					<li><a class="active" href="">Home</a></li>

					<li><a href="">User</a></li>

					<li class="right" style="float:right"><a class="active" href="#about" v-on:click="logout()" >Log Out</a></li>
					
				</ul>

			</div>

		</div>



		<div id="loginApp">

			<div v-if="!(ishidden)" class="container1">

				<h1 id="heding" style="text-align: center;"> LOGIN </h1>

				<p class="paragraph"> LOGIN FORM FOR THE PERSYSTANCE NETWORKS. </p>

				<input class="email1" type="email" name="email" placeholder="E-Mail Address" v-model="accout.email" required />

				<img src="icons8-customer-20.png" style="margin: 0px 49px -3px -52px;" />

				<br><br>

				<input class="email1" type="password" name="pass1" placeholder="Password" v-model="accout.password" required style="width: 323px; height: 45px;" />

				<img src="icons8-lock-20.png" style="margin: 0px 49px -3px -52px;" />

				<br><br>

				<input class="check" type="checkbox" id="check12" name="check1" value="checkbox" true-value="Keep me logged in" false-value="Don't keep me logged in" v-model="accout.check" />

				<p class="pg">Keep me logged in.</p>

				<br><br>

				<button v-on:click="login()" style="margin-top: 30px;"> Login </button>

				<br><br>

				<a class="abc" id="showDiv2" v-on:click="launchregister()"> Register Here </a>

			</div>

		</div>




		<div id="registerApp">

			<div v-if="!(ishidden)" class="container12" >

				<h1 id="heding12" style="text-align: center;"> REGISTER </h1>

				<p class="paragraph12"> CREATE AN ACCOUNT FOR THE PERSYSTANCE NETWORKS. </p>

				<input class="name12" type="text" name="Fname" placeholder="First Name" v-model="account.firstname" required />

				<input class="name12" type="text" name="Lname" placeholder="Last Name" v-model="account.lastname" required />

				<br><br>

				<input class="email12" type="email" name="email" placeholder="Email Id" v-model="account.email" required />

				<br><br>

				<input class="name12" type="password" name="pass1" placeholder="Password" v-model="account.password" required />

				<input class="name12" type="password" name="pass2" placeholder="Conform Password" v-model="account.password" required />

				<br><br>

				<input class="email12" type="tel" name="Mnumber" placeholder="Phone Number" v-model="account.mobile" required />

				<br><br>

				<button v-on:click="register()" style="margin-top: 30px;"> Register </button>

				<br><br>

				<a class="abc12" v-on:click="alert()" > Already have an account? Login Here </a>

			</div>

		</div>




		<div id="userListApp">

			<div v-if="!(ishidden)" >

				<h1 class="heading12" style="margin-top: 175px;">User List</h1>
		
				<table class="TableStyle" >

					<thead>

					<tr>

						<th class="tableheder1" >ID</th>

						<th class="tableheder1" >Email</th>

						<th class="tableheder1"  >First Name</th>

						<th class="tableheder1" >Last Name</th>

						<th class="tableheder1"  >Mobile</th>

						<th class="tableheder1"  >Email Verified At</th>

						<th class="tableheder1"  >Created At</th>

						<th class="tableheder1"  >Updated At</th>

						<th class="tableheder1"  >Delete/Update User</th>

					</tr>

					</thead>

					<tbody>

					<tr v-for="item in items">

						<td>{{item.id}}</td>

						<td>{{item.email}}</td>

						<td>{{item.firstname}}</td>

						<td>{{item.lastname}}</td>

						<td>{{item.mobile}}</td>

						<td>{{item.email_verified_at}}</td>

						<td>{{formattedDate(item.created_at)}}</td>

						<td>{{formattedDate(item.updated_at)}}</td>

						<td><button @click="deleteUser(item.id)" style="width: 140px; margin-top: 2px;">Delete</button> <button @click="selectUser(item)" style="width: 140px; margin-top: 2px;">Update</button></td>

					</tr>

					</tbody>

				</table>

			</div>

		</div>



		<div  id="userUpdateApp">

			<div v-if="!(ishidden)">

				<h1 id="heding12" style="text-align: center; margin-bottom: 40px; margin-top: 290px;" > Edit User </h1>

					<input class="name12" type="text" name="Fname" placeholder="First Name" v-model="user.firstname" required />

					<input class="name12" type="text" name="Lname" placeholder="Last Name" v-model="user.lastname" required />

					<br><br>

					<input class="email12" type="email" name="email" placeholder="Email Id" v-model="user.email" required />

					<br><br>

					<input class="email12" type="tel" name="Mnumber" placeholder="Phone Number" v-model="user.mobile" required />

					<br><br>

					<button v-on:click="updateUser()" style="margin-top: 30px;"> Update </button>

			</div>

		</div>


	</section>

	<script>

	


	var navegationBar = new Vue({
  		el: '#navegationBar',

  		data: {
			  ishidden: true,
		  },
		  methods: {
			  logout: function() {
				  this.ishidden = true;
				  userListApp.ishidden = true;
				  loginApp.ishidden = false;
			  }
		  }
	})


	var loginApp = new Vue({
  		el: '#loginApp',

  		data: { 
			ishidden: false,  
   			accout: {
				   email: "viraj@gmail.com",
				   password: "password",
				   check: "",
			   }
  	 	},
		methods: {
			launchregister: function() {
				this.ishidden = true;
				registerApp.ishidden = false;
        	},

			login: function() {
				let url = "http://webservice:8000/api/v1/user/login";
				let postBody = this.accout;

				 this.$http.post(url, postBody).then(response => {
					console.log(JSON.stringify(response.data));
					
					userListApp. login;
					navegationBar. login;
					this.ishidden = true;
					userListApp.ishidden = false;
					navegationBar.ishidden = false;
					userListApp.fetchUser();

				}, response => {
					alert("Error " + JSON.stringify(response));
				});
        	}

		}
	})



	var registerApp = new Vue({
  		el: '#registerApp',

  		data: {
			ishidden: true,
   			account: {
				  	firstname: "anjan",
					lastname: "viraj",
					email: "anjana@gmail.com",
					password: "anjana@123",
					Conpass: "anjana@123",
					mobile: "0766559314",
			   }
  	 	},

		methods: {
			alert: function() {
				this.ishidden = true;
				loginApp.ishidden = false;

        	},
			register: function() {
				let url = "http://webservice:8000/api/v1/user/register";
				let postBody = this.account;

				 this.$http.post(url, postBody).then(response => {
					console.log(JSON.stringify(response.data));
					
				},
				 response => {
					alert("Error " + JSON.stringify(response));
				});
        	}

		}
	})



	var userListApp = new Vue({
  		el: '#userListApp',

		data: {
			ishidden: true,
			items: []
		},

		mounted: function () {
			this.fetchUser();
		},

		methods: {
			fetchUser: function () {
				this.$http.get('http://webservice:8000/api/v1/users', {
					headers: {
						Authorization: "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC93ZWJzZXJ2aWNlOjgwMDBcL2FwaVwvdjFcL3VzZXJcL2xvZ2luIiwiaWF0IjoxNTQyMjY1Njk2LCJleHAiOjE1NDIyNjcxMzYsIm5iZiI6MTU0MjI2NTY5NiwianRpIjoiSk5GeWQ4eWUyTTh5QnBrMyIsInN1YiI6MTEsInBydiI6Ijg3ZTBhZjFlZjlmZDE1ODEyZmRlYzk3MTUzYTE0ZTBiMDQ3NTQ2YWEifQ.BwJuWSb06jptCn3U0r2jbNExBmW3MT0XV1gPAn22VCo"
					}
				}).then(result => { 
					this.items = result.data;
					
				})
			},

			formattedDate: function (today) {
				//return new Date(today).toLocaleString(); 
				var dateFormat = new Date(today)
				var monthNames = [
					"January", "February", "March",
					"April", "May", "June", "July",
					"August", "September", "October",
					"November", "December"
					];
				var dateNames = [
					"Monday", "Tuesday", "Wednesday",
					"Thursday", "Friday", "Saterday", "Sunday"
					];
				var dateIndex = dateFormat.getDay();
				var monthIndex = dateFormat.getMonth();
				var year = dateFormat.getFullYear();

				return year + ' ' + monthNames[monthIndex] + ' ' + dateNames[dateIndex];
			},

			deleteUser: function(id) {
				this.$http.delete("http://webservice:8000/api/v1/users/" + id).then(result => {
					this.fetchUser();
				});
				
			},

			selectUser: function(user) {
				this.ishidden = true;
				userUpdateApp.ishidden = false;
				navegationBar.ishidden = false;
				userUpdateApp.$data.user = user;
			}

		}

	})



	var userUpdateApp = new Vue({
  		el: '#userUpdateApp',

		data: {
			ishidden: true,
			user: {
				firstname: "anjana",
				lastname: "viraj",
				email: "a@gmail.com",
				mobile: "0887654321",
			}
		},

		methods: {
			updateUser: function() {
				this.$http.put("http://webservice:8000/api/v1/users/" + this.user.id, this.user
					).then(result => {
						userListApp.fetchUser();
						this.ishidden = true;
						userListApp.ishidden = false;
						
				});
				
			}
        },

	})


	var d = new Date();
	


</script>

</body>

</html>